.body{
    background-color: black;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Sansita Swashed', cursive;
}
.card_arrng{
    width: 90%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 30% 30%;
    row-gap: 7%;
    column-gap: 5%;
}
.card{
    max-width: 400px;
    height: 300px;  
}
.box{
    position: relative;
    width: 100%;
    height: 300px;
}
.img{
    display: block;
    width: 100%;
    height: 300px;
}
.contentbox{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #24292e;
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.contentbox >*{
    transform: translateY(20px);
    transition: transform 0.25s;
}
.contentbox:hover >*{
    transform: translate(0);
}
.contentbox:hover{
    opacity: 1;
}
.contentdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sansita Swashed', cursive;
}
.contentdiv h5{
    font-size: 25px;
    font-weight: 800;
}
.discripton{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: auto;
    font-weight: 300;
}
.skill_div{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.skill_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.btn_div{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
@media only screen and (max-width: 600px){
    .body{
        height: auto;
        padding-bottom: 5%;
    }
    .card_arrng{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .card{
        max-width: 400px;
        height: 300px;
        margin-bottom: 20px;  
    }
    
}
@media only screen and (max-width: 910px){
    .body{
        height: auto;
        padding-bottom: 5%;

    }
    .card_arrng{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .card{
        max-width: 400px;
        height: 300px;
        margin-bottom: 20px;  
    }
   
}