.body{
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.container{
    position: relative;
    width: 80%;
    height: auto;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 70px;
}
.container .card{
    position: relative;
    width: 250px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 380px;
}
.container .card .imgbox{
    position: relative;
    width: 250px;
    height: 260px;
    top: -60px;
    left: 0px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.container .card .imgbox img{
    width: 100%;
    height: 260px;
    border-radius: 4px;
}
.container .card .content{
   position: relative;
   margin-top: -140px;
   padding: 10px 15px;
   text-align: center;
   color: #111;
   visibility: hidden;
   opacity: 0;
   transition: 0.3 ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
@media only screen and (max-width: 600px){
    .body{
        height: auto;
    }
    .container{
        position: relative;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        margin-top: 70px;
    }
}
@media only screen and (max-width: 800px){
    .body{
        height: auto;
    }
    .container{
        position: relative;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        margin-top: 70px;
    }
}